*{
  margin: 0;
  padding: 0;
}

:root{
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body {
  background-image: url('assets/Página\ de\ receita.png');
  background-size: cover; /*Cobrir toda area*/
}

#page{
  box-sizing: border-box; /*Tirei o padrão da caixa*/
  width: 800px; /*Largura de 800px*/
  padding: 24px; /*Espaço interno de 24px -- margem até o conteudo*/
  background-color: #F0E8C2; /*Cor de fundo*/
  border-radius: 24px; /*Arredondamento de borda*/
  margin: 48px auto; /*Margem vertical e horizontal*/
}

img {
  border-radius: 16px; /*Arredondamento de borda*/
}

main{
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#abbout p + p{
  margin-top: 12px;
}

h1{
  line-height: 140%; /*Espaço entre as linhas do conteudo*/
  font-size: 40px; /*Tamanho da fonte*/
}

h2{
  font-size: 24px;
}

h1,h2{
  color:#291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

ul{
  padding-left: 24px;
}